@model WebStore.WebUi.Models.UserViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*@if (Model.IsAuthenticated)
{
    <span class="user-name">Пользователь: @Model.UserName</span>
    @Html.ActionLink("LogOff", "Logoff", "Authentication", null, new { @class = "login" })
}
else
{
    @Html.ActionLink("LogIn", "LogIn", "Authentication", null, new { @class = "login" })
    <span style="color: white">/</span>
    @Html.ActionLink("Register", "Register", "Authentication", null, new { @class = "register" })
}*@

<div class="user row">
    <div class="user__info">
        <div class="user__img col-md-3"><img src="" alt=""></div>
        <div class="user__name col-md-1">@Model.UserName</div>
        <div class="user__additional-info col-md-5">
            @*<div class="user__id">@Model.AdditionalInfo.Id</div>*@ 
            <div class="user__first-name col-md-4">@Model.AdditionalInfo.FirstName</div>
            <div class="user__last-name col-md-4">@Model.AdditionalInfo.LastName</div>
            <div class="user__age col-md-4">@Model.AdditionalInfo.Age</div>
            <div class="user__email col-md-4">@Model.AdditionalInfo.Email</div>
        </div>
        @if(User.Identity.Name == "Admin")
        {
            <div class="user__admin col-md-3">@Html.ActionLink("Админка", "Index", new { area = "Admin", controller = "Admin" })</div>
        }
    </div>
</div>

<div class="orders">
    @Html.Action("Index", "Order")
</div>
