@model IEnumerable<WebStore.WebUi.service.Products>


<table class="table">
    <tr>
        <th>Name</th>
        <th>Count</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.Name</td>
        <td>@item.Count</td>
        <td>@Html.ActionLink("Edit", "Edit", new { })</td>
        <td>@Html.ActionLink("Details", "Details", new { id=@item.Id })</td>
        <td>@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })</td>        
    </tr>
}

</table>
