@model IEnumerable<WebStore.WebUi.Models.IndexProductViewModel>

@{ 
    Layout = null;
}

<table class="table">
    <tr>
        <th>Name</th>
        <th>Count</th>
        <th>Descriptions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.Name</td>
        <td>@item.Count</td>
        <td>@item.Descriptions</td>
        <td>@item.Category</td>
        <td>@Html.ActionLink("Edit", "EditProduct", new { id=@item.Id })</td>
        <td>@Html.ActionLink("Details", "Details", new { id=@item.Id })</td>
        <td>@Html.ActionLink("Delete", "Delete", new { id= @item.Id })</td>        
    </tr>
}

</table>
