@model IEnumerable<WebStore.WebUi.Areas.Admin.Models.UserViewModel>

@{
    Layout = null;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<div class="user">
    <div class="user__add">@Html.ActionLink("Создать нового польщователя", "AddUser", "Admin")</div>
    @foreach (var user in Model)
    {
        <div class="row">
            <div class="user__id col-md-1">@user.Id</div>
            <div class="user__name col-md-1">@user.Name</div>
            <div class="user__group col-md-1">@user.Group</div>            
            <div class="user__is-deleted col-md-1">@user.IsDeleted</div>
            <div class="user__action col-md-2">
                <div class="user__edit col-md-6">@Html.ActionLink("Изменить", "EditUser", new { id = user.Id })</div>
                <div class="user__delete col-md-6">@Html.ActionLink("Удалить", "DeleteUser", new { id = user.Id })</div>
            </div>

        </div>

    }
</div>
